.max-width {
  width: 100%;
  background-color: #fff;
}

.hardware,
.software {
  height: 42vw;
}

.other-hardware,
.product {
  height: 47vw;
}

.other-hardware,
.product,
.hardware,
.software,
.photo,
.course-card,
.course-teacher,
.product-platform,
.product-video,
.product-prop,
.product-instruction,
.product-feature,
.course-detail {
  margin: 5vw 16vw;
}

.product-item {
  position: relative;
}

.product-abstract {
  position: absolute;
  z-index: -1;
}

.product-abstract-hover {
  position: absolute;
  background-color: #0d297f;
  z-index: 2018;
}

.product-card, .product-abstract {
  height: 25vw;
  width: 100%;
  border-radius: 4px;
}

.product-abstract-title {
  margin-top: 5vw;
  margin-bottom: 0.5vw;
    font-family: MicrosoftYaHei-Bold;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0.05vw;
    color: #ffffff;
}

.product-abstract-content {
  margin: 1.5vw;
  font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0.04vw;
	color: #ffffff;
}

.course-list {
  margin: 0vw 16vw;
}

.aboutus {
  height: 42vw;
  position: relative;
}

.bk-top,
.bk-bottom {
  width: 100%;
  height: 21vw;
}

.course-tutor {
  background: url('/images/tutor.jpg') no-repeat;
  background-size: 100% 33vw;
  width: 100%;
  height: 33vw;
  position: relative;
}

.course-teacher {
  position: absolute;
  width: calc(100% - 32vw);
  height: 28vw;

}

.bk-top {
  background: url('/images/top.jpg') no-repeat;
  background-size: 100% 21vw;
}

.about-card {
  position: absolute;
  left: 10vw;
  top: 10vw;
  width: 25vw;
}

.bk-bottom {
  background: url('/images/bottom.jpg') no-repeat;
  background-size: 100% 21vw;
}

.container {
  width: 100%;
  min-height: calc(100vh - 26vw);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bottom {
  margin-top: 13px;
  line-height: 12px;
}

.goods-btn {
  position: absolute;
  bottom: 0px;
  margin-bottom:20px;
  margin-left: 5%;
}

.goods-name {
  font-family: MicrosoftYaHei;
	font-size: 20px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0.05vw;
	color: #080f24;
}

.goods-title {
  font-family: MicrosoftYaHeiLight;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0.04vw;
	color: #080f24;
}

.goods-content {
  font-family: MicrosoftYaHeiLight;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0.04vw;
	color: #080f24;
}

.learn-more {
  width: 100%;
}

.carousel {
  width: 100%;
  height: 42vw;
}

.hr-line {
  margin: 10px auto;
  width: 5vw;
  background-color: #5175ea;
  border-radius: 3px;
}

.sowing-map, .course-board {
  height: 42vw;
}


.course-board {
  background: blue no-repeat;
  background-size: 100% 42vw;
}

.intro {
  height: 42vw;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}

.el-carousel__item h3 {
  color: #475669;
  font-size: 18px;
  opacity: 0.75;
  line-height: 300px;
  margin: 0;
}

.el-carousel__container {
  height: 100%;
}

.photo,
.course-card {
  width: calc(100% - 32vw);
  min-height: 31vw;
  max-width: 1300px;
  max-height: 600px;
}

.photo {
  border-radius: 8px;
}

.el-carousel__item:nth-child(2n) {
  background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
  background-color: #d3dce6;
}

.banner {
  height: 42vw;
}

html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.nav-menu-item {
  position: relative;
  top: -1px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}

.header,
.footer {
  width: 100%;
  background-color: #0a122b;
}

.header {
  height: 4vw;
}

.footer {
  height: 22vw;
  color: #fff;
  padding: 0vw 16vw;

}

.nav-menu {
  height: 4vw;
}

.el-menu--horizontal>.el-menu-item,
.el-menu--horizontal>.el-submenu .el-submenu__title {
  height: 4vw !important;
}

.el-menu.el-menu--horizontal {
  border-bottom: solid 1px #8147d9 !important;
}

.logo {
  height: 3vw;
  position: relative;
  bottom: 5px;
}

.right-item {
  float: right !important;
}

.footer-margin {
  margin: 1.2vw 0;
  font-size: 14px;
}

.foot-a {
  color: #fff;
}

.qrcode {
  vertical-align: top;
  width: 50%;
  height: 50%;
}

.router-nav,
.foot-a {
  text-decoration: none;
}

.course-board {
    padding-top:7vw;
}

.course-board-classify,
.course-board-title,
.course-board-subtitle,
.course-board-hr,
.course-board-option,
.course-board-intro,
.course-board-price,
.course-board-purchase {
    color:#fff;
	font-family: MicrosoftYaHei;
	font-weight: normal;
	font-stretch: normal;
}

.course-board-classify {
	font-size: 24px;
	letter-spacing: 0.06vw;
}

.course-board-title {
  margin-top:1vw;
	font-size: 36px;
	letter-spacing: 0.09vw;
}

.course-board-subtitle {
    margin-top: 0.8vw;
	font-size: 20px;
	letter-spacing: 0.05vw;
	color: #e7e7e7;
}

.course-board-hr {
    margin-top: 1vw;
    margin-left: 30%;
    width: 40%;
	height: 1px;
	background-color: #ffffff;
	border-radius: 0.05vw;
	opacity: 0.29;
}

.course-board-option {
	font-size: 14px;
	letter-spacing: 0.04vw;
    color: #e7e7e7;
    margin: 1vw 40% 0 40%;
}

.course-board-intro {
	font-size: 14px;
	letter-spacing: 0.04vw;
    color: #e7e7e7;
    margin: 1vw 25% 1vw 25%;
}

.course-board-price {
    margin-top: 1vw;
    margin-bottom: 2vw;
    font-size: 1.56vw;
	letter-spacing: 0.08vw;
	color: #ee3617;
}

.course-board-btn {
    width: 14vw;
}

.course-chapter {
    width: 100%;
}

.course-period {
    margin-top: 1vw;
}

.learn-title {
    width: 5.68vw;
	font-family: MicrosoftYaHei-Bold;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0.04vw;
	color: #333333;
}

.learn-point {
	font-family: MicrosoftYaHei;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0.04vw;
  color: #333333;
  text-align: center;
}

.period-title {
	font-family: MicrosoftYaHei;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0.04vw;
	color: #333333;
}

.period-content {
	font-family: MicrosoftYaHeiLight;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0.04vw;
	color: #333333;
}

.bgBox{
  background: url('../../assets/icon/productBg.png') no-repeat center 3vw;
}
img.image{
  width: 19vw;
  height: 12.5vw;
  margin-top: 3vw;
  margin-left: -1vw;
}
