.max-width {
  width: 100%;
  background-color: #fff;
}

.hardware,
.software {
  height: 42vw;
}

.other-hardware,
.product {
  height: 47vw;
}

.other-hardware,
.product,
.hardware,
.software,
.photo,
.course-card,
.course-teacher,
.product-platform,
.product-video,
.product-prop,
.product-instruction,
.product-feature {
  margin: 5vw 16vw;
}

.course-list {
  margin: 0vw 16vw;
}

.aboutus {
  height: 42vw;
  position: relative;
}

.bk-top,
.bk-bottom {
  width: 100%;
  height: 21vw;
}

.course-tutor {
  background: url('/images/tutor.jpg') no-repeat;
  background-size: 100% 33vw;
  width: 100%;
  height: 33vw;
  position: relative;
}

.course-teacher {
  position: absolute;
  width: calc(100% - 32vw);
  height: 28vw;

}

.bk-top {
  background: url('/images/top.jpg') no-repeat;
  background-size: 100% 21vw;
}

.about-card {
  position: absolute;
  left: 10vw;
  top: 10vw;
  width: 25vw;
}

.bk-bottom {
  background: url('/images/bottom.jpg') no-repeat;
  background-size: 100% 21vw;
}

.container {
  width: 100%;
  min-height: calc(100vh - 26vw);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bottom {
  margin-top: 13px;
  line-height: 12px;
}

.learn-more {
  width: 100%;
}

.carousel {
  width: 100%;
  height: 42vw;
}

.hr-line {
  margin: 10px auto;
  width: 5vw;
  background-color: #5175ea;
  border-radius: 3px;
}

.sowing-map {
  height: 42vw;
}

.intro {
  height: 42vw;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}

.el-carousel__item h3 {
  color: #475669;
  font-size: 18px;
  opacity: 0.75;
  line-height: 300px;
  margin: 0;
}

.el-carousel__container {
  height: 100%;
}

.photo,
.course-card {
  width: calc(100% - 32vw);
  min-height: 31vw;
  max-width: 1300px;
  max-height: 600px;
}

.el-carousel__item:nth-child(2n) {
  background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
  background-color: #d3dce6;
}

.banner {
  height: 42vw;
}

html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.nav-menu-item {
  position: relative;
  top: -1px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}

.header,
.footer {
  width: 100%;
  background-color: #0a122b;
}

.header {
  height: 4vw;
}

.footer {
  height: 22vw;
  color: #fff;
  padding: 0vw 16vw;

}

.nav-menu {
  height: 4vw;
}

.el-menu--horizontal>.el-menu-item,
.el-menu--horizontal>.el-submenu .el-submenu__title {
  height: 4vw !important;
}

.el-menu.el-menu--horizontal {
  border-bottom: solid 1px #8147d9 !important;
}

.logo {
  height: 3vw;
  position: relative;
  bottom: 0.8vw;
}

.right-item {
  float: right !important;
}

.footer-margin {
  margin: 2vw 0;
  font-size: 9px;
}

.foot-a {
  color: #fff;
}

.qrcode {
  vertical-align: top;
  width: 50%;
  height: 50%;
}

.router-nav,
.foot-a {
  text-decoration: none;
}
