.max-width {
  width: 100%;
  background-color: #fff;
}

.hardware,
.software {
  height: 42vw;
}

.other-hardware,
.product {
  height: 47vw;
}

.other-hardware,
.product,
.hardware,
.software,
.photo,
.course-card,
.course-teacher,
.product-platform,
.product-video,
.product-prop,
.product-instruction,
.product-feature,
.course-detail {
  margin: 5vw 16vw;
}

.product-item {
  position: relative;
}

.product-abstract {
  position: absolute;
  z-index: -1;
}

.product-abstract-hover {
  position: absolute;
  background-color: #0d297f;
  z-index: 2018;
}

.product-card, .product-abstract {
  height: 25vw;
  width: 100%;
  border-radius: 4px;
}

.product-abstract-title {
  margin-top: 5vw;
  margin-bottom: 0.5vw;
    font-family: MicrosoftYaHei-Bold;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0.05vw;
    color: #ffffff;
}

.product-abstract-content {
  margin: 1.5vw;
  font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0.04vw;
	color: #ffffff;
}

.course-list {
  margin: 0 16vw;
}

.aboutus {
  height: 42vw;
  position: relative;
}

.bk-top,
.bk-bottom {
  width: 100%;
  height: 21vw;
}

.course-tutor {
  background: url('/images/tutor.jpg') no-repeat;
  background-size: 100% 33vw;
  width: 100%;
  height: 33vw;
  position: relative;
}

.course-teacher {
  position: absolute;
  width: calc(100% - 32vw);
  height: 28vw;

}

.bk-top {
  background: url('/images/top.jpg') no-repeat;
  background-size: 100% 21vw;
}

.about-card {
  position: absolute;
  left: 10vw;
  top: 10vw;
  width: 25vw;
}

.bk-bottom {
  background: url('/images/bottom.jpg') no-repeat;
  background-size: 100% 21vw;
}

.container {
  width: 100%;
  min-height: calc(100vh - 26vw);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bottom {
  margin-top: 13px;
  line-height: 12px;
}

.goods-btn {
  position: absolute;
  bottom: 0px;
  margin-bottom:20px;
  margin-left: 5%;
}

.goods-name {
  font-family: MicrosoftYaHei;
	font-size: 20px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0.05vw;
	color: #080f24;
}

.goods-title {
  font-family: MicrosoftYaHeiLight;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0.04vw;
	color: #080f24;
}

.goods-content {
  font-family: MicrosoftYaHeiLight;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0.04vw;
	color: #080f24;
}

.learn-more {
  width: 100%;
}

.carousel {
  width: 100%;
  height: 42vw;
}

.hr-line {
  margin: 10px auto;
  width: 5vw;
  background-color: #5175ea;
  border-radius: 3px;
}

.sowing-map, .course-board {
  height: 42vw;
}


.course-board {
  background: url('../../assets/course/courseBg.png') no-repeat;
  background-size: 100% 42vw;
}

.intro {
  height: 42vw;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}

.el-carousel__item h3 {
  color: #475669;
  font-size: 18px;
  opacity: 0.75;
  line-height: 300px;
  margin: 0;
}

.el-carousel__container {
  height: 100%;
}

.photo,
.course-card {
  width: calc(100% - 32vw);
  min-height: 31vw;
  max-width: 1300px;
  max-height: 600px;
}

.photo {
  border-radius: 8px;
}

.el-carousel__item:nth-child(2n) {
  background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
  background-color: #d3dce6;
}

.banner {
  height: 42vw;
}

html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.nav-menu-item {
  position: relative;
  top: -1px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}

.header,
.footer {
  width: 100%;
  background-color: #0a122b;
}

.header {
  height: 4vw;
}

.footer {
  height: 22vw;
  color: #fff;
  padding: 0vw 16vw;

}

.nav-menu {
  height: 4vw;
}

.el-menu--horizontal>.el-menu-item,
.el-menu--horizontal>.el-submenu .el-submenu__title {
  height: 4vw !important;
}

.el-menu.el-menu--horizontal {
  border-bottom: solid 1px #8147d9 !important;
}

.logo {
  height: 3vw;
  position: relative;
  bottom: 5px;
}

.right-item {
  float: right !important;
}

.footer-margin {
  margin: 1.2vw 0;
  font-size: 14px;
}

.foot-a {
  color: #fff;
}

.qrcode {
  vertical-align: top;
  width: 50%;
  height: 50%;
}

.router-nav,
.foot-a {
  text-decoration: none;
}

.course-board {
    padding-top:7vw;
}

.course-board-classify,
.course-board-title,
.course-board-subtitle,
.course-board-hr,
.course-board-option,
.course-board-intro,
.course-board-price,
.course-board-purchase {
    color:#fff;
	font-family: MicrosoftYaHei;
	font-weight: normal;
	font-stretch: normal;
}

.course-board-classify {
	font-size: 24px;
	letter-spacing: 0.06vw;
}

.course-board-title {
  margin-top:1vw;
	font-size: 36px;
	letter-spacing: 0.09vw;
}

.course-board-subtitle {
    margin-top: 0.8vw;
	font-size: 20px;
	letter-spacing: 0.05vw;
	color: #e7e7e7;
}

.course-board-hr {
    margin-top: 1vw;
    margin-left: 30%;
    width: 40%;
	height: 1px;
	background-color: #ffffff;
	border-radius: 0.05vw;
	opacity: 0.29;
}

.course-board-option {
	font-size: 14px;
	letter-spacing: 0.04vw;
    color: #e7e7e7;
    margin: 1vw 40% 0 40%;
}

.course-board-intro {
	font-size: 14px;
	letter-spacing: 0.04vw;
    color: #e7e7e7;
    margin: 1vw 25% 1vw 25%;
}

.course-board-price {
    margin-top: 1vw;
    margin-bottom: 2vw;
    font-size: 1.56vw;
	letter-spacing: 0.08vw;
	color: #ee3617;
}

.course-board-btn {
    width: 14vw;
}

.course-chapter {
    width: 100%;
}

.course-period {
    margin-top: 1vw;
}

.learn-title {
  text-align: left;
	font-family: MicrosoftYaHei-Bold;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0.04vw;
	color: #333333;
}

.learn-point {
	font-family: MicrosoftYaHei;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0.04vw;
  color: #333333;
  text-align: center;
}

.period-title {
	font-family: MicrosoftYaHei;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0.04vw;
	color: #333333;
}

.period-content {
	font-family: MicrosoftYaHeiLight;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0.04vw;
	color: #333333;
}

.bgBox{
  background: url('../../assets/icon/productBg.png') no-repeat center 3vw;
}
img.image{
  width: 19vw;
  height: 12.5vw;
  margin-top: 3vw;
  margin-left: -1vw;
}
.el-icon-point-left{
  width: 10px;
  height: 10px;
  position: absolute;
  margin-left: -54px;
  margin-top: 9px;
}
.el-icon-star-left{
  width: 24px;
  height: 22px;
  position: absolute;
  margin-left: -34px;
  margin-top: 2px;
}
.el-icon-star-right{
  width: 24px;
  height: 22px;
  position: absolute;
  margin-left: 10px;
  margin-top: 2px;
}
.el-icon-point-right{
  width: 10px;
  height: 10px;
  position: absolute;
  margin-left: 44px;
  margin-top: 9px;
}
.star1{
  background-image: url("../../assets/icon/newStar.png");
}
.point1{
  background-image: url("../../assets/icon/newPoint.png");
}
.star2{
  background-image: url("../../assets/icon/primaryStar.png");
}
.point2{
  background-image: url("../../assets/icon/primaryPoint.png");
}
.star3{
  background-image: url("../../assets/icon/middleStar.png");
}
.point3{
  background-image: url("../../assets/icon/middlePoint.png");
}
.star4{
  background-image: url("../../assets/icon/highStar.png");
}
.point4{
  background-image: url("../../assets/icon/highPoint.png");
}
.partName{
  text-align: left;
  font: 18px bold;
  padding: 0 10px;
}
.partContent{
  margin-top: 10px;
}
.news-detail{
  margin: 68px auto 0;
  width: 66.7vw;
  padding-bottom: 150px;
}
.sign_in_box{
  width: 100%;
  height: calc(100% - 4vw);
  position: absolute;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("../../static/images/sign_bg.png");
}
.signForm {
  width: 25vw;
  height: 28vw;
  margin-left: 54.7vw;
  margin-top: 7.4vw;
  border-radius: 7px;
  background-color: white;
  text-align: center;
  min-width: 300px;
}
#sign_up{
  height: 35vw;
  margin-top: 3.5vw;
  min-height: 470px;
}
.logoBox{
  display: flex;
  justify-content: center;
  align-items: center;
}
.signForm h3{
  padding-top: 15px;
}
.inputBox>input {
  width: 255px;
  background-color: #ddd;
  border: 0;
  outline: none;
  padding: 8px;
  border-radius: 5px;
  color: #777;
  margin-top: 20px;
}
.inputBox>input:first-child{
  margin-top: 0;
}
.inputBox {
  margin-top: 15px;
}
#passwordTxt,#passwordAgain{
  position: absolute;
  font-size: 14px;
  margin-top: 25px;
  color: #777;
  left: calc(67.2vw - 119px);
}
#passwordInput{
  margin-top: 20px;
}
.textBox>ul{
  text-align: left;
  margin-top: 15px;
}
.textBox>ul>li{
  list-style: none;
  display: inline-block;
}
.textBox>ul>li>a{
  color: #5175EA;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  left: calc(67.2vw - 126px);
  margin-top: -12px;
  position: absolute;
}
#sign_up .btnBox,#sign_in .btnBox{
  margin-top: 25px;
}
.btnBox>button{
  width: 200px;
  height: 31px;
  border-radius: 16px;
  background-color: #5175EA;
  color: white;
  padding-top: 8px;
}
.signForm button{
  outline: none;
  border: 0;
  cursor: pointer;
}
.btn{
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-color: white;
  background-position: center;
}
.btn1{
  background-image: url("../../assets/icon/qq.png");
  background-size: 80%;
}
.btn2{
  background-image: url("../../assets/icon/weixin.png");
  background-size: 100% 80%;
}
.sign_in_box ~ .footer{
  display: none;
}
#sign_up_id .btnBox{
  margin-top: 40px;
}
.sign_in_box .inputBox p.inputHint{
  font-size: 12px;
  position: absolute;
  color: red;
  left: calc(67.2vw - 119px);
}
#sendCode{
  padding: 0;
  padding-top: 2px;
  margin-left: -6px;
  width: 90px;
  height: 31px;
  background-color: #5175ea;
  color: #ffffff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
#authCode{
  width: 165px;
  margin-left: -1px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
/*顶部菜单用户名和退出登录start*/
#mainMenuUl{
  display: inline-flex;
  float: right;
}
#mainMenuUl>li{
  list-style: none;
  display: inline-block;
}
#mainMenuUl>li>a{
  display: block;
  height: 55px;
  line-height: 55px;
  font-size: 14px;
  color: white;
  text-align: center;
  padding: 0 15px;
}
#mainMenuUl>li>a:first-child{
  max-width: 120px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
/*顶部菜单用户名和退出登录end*/
/*模态框start*/
.modal-backdrop {
  position: fixed;
  top: 0; right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}
.modal-backdrop .modal {
  width: 500px;
  height: 240px;
  background-color: #fff;
  box-shadow: 2px 2px 20px 1px;
  overflow-x:auto;
  display: flex;
  flex-direction: column;
}
.modal-backdrop .modal-header,.modal-backdrop .modal-footer {
  padding: 15px;
  display: flex;
}
.modal-backdrop .modal-header {
  color: #4aae9b;
  justify-content: flex-end;
  height: 50px;
}
.modal-backdrop .modal-footer {
  justify-content: center;
  margin-top: 20px;
}
.modal-backdrop .modal-body {
  position: relative;
  padding: 20px 10px;
  text-align: center;
}
.modal-backdrop .btn-close {
  border: none 0;
  font-size: 25px;
  cursor: pointer;
  font-weight: bold;
  color: #4aae9b;
  background-color: transparent;
  height: 30px;
  width: 30px;
}
.modal-backdrop .btn-green {
  color: #fff;
  border: 0;
  border-radius: 5px;
  width: 80px;
  height: 35px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 35px;
}
/*模态框end*/
/*新闻页start*/
.newsList{
  width: 16.5vw;
}
.news-img{
  border-radius: 7px 7px 0 0;
  width: 100%;
}
.outBox{
  box-shadow: 0 0 15px #969595;
  border-radius: 7px;
}
.newsList .textBox{
  padding: 10px 0 15px;
}
.dynamicsList .imgBox{
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 180px;
}
.dynamicsList .dynamics-img{
  width: 170px;
  height: 120px;
}
.dynamicsList .textBox {
  width: calc(100% - 200px);
  margin-left: 200px;
  height: 135px;
  font-size: 12px;
  display: -webkit-box;
  /*! autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  -webkit-line-clamp: 3;
  overflow: hidden;
  padding-top: 10px;
}
.dynamicsList .textBox>p{
  line-height: 20px;
}
.dynamicsList .btnBox{
  padding-bottom: 10px;
  width: calc(100% - 200px);
  margin: 0;
  margin-left: 200px;
  padding-top: 10px;
}
.dynamicsList .urlBtn{
  width: 85px;
  height: 25px;
  border: 0;
  border-radius: 13px;
  background-color: #5175EA;
  color: white;
  margin-left: calc(100% - 110px);
  cursor: pointer;
  padding-top: 0;
}
.news-title{
  font-size: 26px;
  font-weight: bold;
}
.news-info{
  margin: 15px auto;
  font-size: 14px;
  text-align: left;
}
.news-content{
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 10px 20px;
  line-height: 26px;
}
/*新闻页end*/
/*logo.vue start*/
.VueToNuxtLogo {
  display: inline-block;
  animation: turn 2s linear forwards 1s;
  transform: rotateX(180deg);
  position: relative;
  overflow: hidden;
  height: 180px;
  width: 245px;
}

.Triangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.Triangle--one {
  border-left: 105px solid transparent;
  border-right: 105px solid transparent;
  border-bottom: 180px solid #41b883;
}

.Triangle--two {
  top: 30px;
  left: 35px;
  animation: goright 0.5s linear forwards 3.5s;
  border-left: 87.5px solid transparent;
  border-right: 87.5px solid transparent;
  border-bottom: 150px solid #3b8070;
}

.Triangle--three {
  top: 60px;
  left: 35px;
  animation: goright 0.5s linear forwards 3.5s;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-bottom: 120px solid #35495e;
}

.Triangle--four {
  top: 120px;
  left: 70px;
  animation: godown 0.5s linear forwards 3s;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 60px solid #fff;
}

@keyframes turn {
  100% {
    transform: rotateX(0deg);
  }
}

@keyframes godown {
  100% {
    top: 180px;
  }
}

@keyframes goright {
  100% {
    left: 70px;
  }
}
/*logo.vue end*/
/*course strat*/
.course-carousel {
  width: auto;
  height: 31vw;
  max-width: 100%;
  max-height: 100%;
}

.bk1 {
  background-color:aqua;
  height: 31vw;
  width: 13vw;
  float: left;
  max-width: 240px;
}
.bk2 {
  /*background-color: brown;*/
  height: 31vw;
  float: left;
  width: calc(100% - 13vw);

}
.course-banner {
  height: calc(100% / 3);
}

.course-banner-menu {
  height:100%;
}

.course-banner-carousel {
  height: 31vw;
  z-index: 0;
}

.course-img {
  background-color: #f0f0f0;
  border-radius: 20px;
  width: 100%;
  height: calc(50vw / 4);
}
.course-name, .course-class, .course-price, .course-note {
  text-align: left;
  font-family: MicrosoftYaHei;
  font-weight: normal;
  font-stretch: normal;
  padding: 5px;
}

.course-name {
  font-size: 18px;
  letter-spacing: 0.9px;
  color: #333333;
}

.course-class {
  font-size: 16px;
  letter-spacing: 0.8px;
  color: #666666;
}

.course-price {
  font-size: 18px;
  letter-spacing: 0.9px;
  /*color: #ee3617;*/
}

.course-note {
  font-size: 14px;
  letter-spacing: 0.7px;
  color: #666666;
}


.card {
  max-height: 600px;
  border-radius: 20px;
}
.el-card__body{
  overflow: hidden !important;
}
.el-carousel__item>img{
  width: 100%;
  height: 100%;
}
/*course end*/
/*product start*/
.platform-inst,
.platform-pic {
  float: left;
  min-height: 16vw;
}

.platform-inst {
  width: 66.66%;
}

.platform-pic {
  width: 33.34%;
}

.clearfix {
  overflow: auto;
}

.product-subtitle,
.product-title {
  font-family: MicrosoftYaHei-Bold;
  font-weight: normal;
  font-stretch: normal;
  color: #333333;
  text-align: left;
}

.product-title {
  font-size: 1.25vw;
  letter-spacing: 0.06vw;
  line-height: 3vw;
}

.product-subtitle {
  font-size: 0.94vw;
  letter-spacing: 0.05vw;
}

.inst-hr {
  height: 1px;
  width: 30%;
  background-color: #d6d6d6;
  border: #d6d6d6 1px solid;
  margin: 1vw 0 1vw 0;
}

.inst-gene {
  font-family: MicrosoftYaHei;
  font-size: 0.83vw;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0.04vw;
  color: #333333;
}

.inst-cash {
  font-family: MicrosoftYaHei-Bold;
  font-size: 1.56vw;
  font-weight: normal;
  font-stretch: normal;
  line-height: 3.03vw;
  letter-spacing: 0.08vw;
  color: #ee3617;
}

.inst-purchase {
  float: right;
}

.video-size {
  width: 100%;
  height: 33vw;
}
/*product end*/
